<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "show", media: "all" %> <!-- Incluindo o CSS específico da página -->
    <%= javascript_include_tag "application" %>
    <title><%= @produto.nome %> - G-Prod</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><img src="/icon.svg" alt="G-Prod Icon" class="header-icon"></li> <!-- Adicionando o ícone -->
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Mostrar Produtos', produtos_path %></li>
                <li><%= link_to 'Novo Produto', new_produto_path %></li>
            </ul>
        </nav>
    </header>

    <!-- Product Page Content -->
    <main>
        <div class="product-container">
            <p class="product-notice"><%= notice %></p>

            <%= render @produto %>

            <div class="product-actions">
                <%= link_to "Editar", edit_produto_path(@produto), class: "btn-edit-product" %>
                <%= link_to "Voltar", produtos_path, class: "btn-back-product" %>
                <%= button_to "Excluir", @produto, method: :delete, class: "btn-delete-product" %>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 G-Prod. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
